<header class="container">
    <h1><a href="/">posty</a></h1>
    <nav >
        <ul>

            <% if (locals.isLoggedIn) { %>
                <li><a href="/posts">My Posts</a></li>
                <li><a href="/likes">Likes</a></li>
                <li><a href="/profile/<%= locals.userID %>">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
           <% } else { %>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
           <% } %>

        </ul>
    </nav>
</header>