@font-face {
    font-family: mbold;
    src: url(mbold.ttf);
}

@font-face {
    font-family: mlight;
    src: url(mlight.ttf);
}

@font-face {
    font-family: mreg;
    src: url(mreg.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: mreg;
}

.error {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
}

.access-point {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.access-point form {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #808080;
}

.access-point h2 {
    text-align: center;
    color:#0b0ba5
}

.access-point input {
    margin-bottom: 7px;
    padding: 4px;
}

.access-point input[type="submit"] {
    background-color: #0b0ba5;
    border: 1px solid #0b0ba5;
    color: #ffffff;
    letter-spacing: 2px;
}

.access-point a {
    text-decoration: none;
    color: #0b0ba5;
    font-weight: bold;

}

.access-point a:hover {
    text-decoration: underline;
}
.not-logged-in {
    background-image: url(../images/backgroundImage.jpg);
    /* background-position: center; */
    height: 100vh;
    color: #ffffff;

}

.not-logged-in h2{
    text-align: center;
    margin-top: 150px;
    font-size: 67px;
}

.container {
    padding: 0 150px;
}

header {
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header h1 a {
    text-decoration: none;
    color: #0b0ba5;
}

nav li {
    display: inline;
    margin-left: 10px;
}

nav li:hover {
    border-bottom: 2px solid #0b0ba5;
}

nav a {
    text-decoration: none;
    color: #0b0ba5;
    font-size: 18px;
}

#create-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#create-post input[type="submit"] {
    background-color: #0b0ba5;
    border: 1px solid #0b0ba5;
    border-radius: 5px;
    color: #ffffff;
    padding: 4px 8px;
    width: max-content;
    margin-top: 5px;
}

.post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 600px;

}

.avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.post-info {
    width: 530px;
}



.post-info h3 a {
    color: #0b0ba5;
    text-decoration: none;
}

.post-info h3 a:hover {
    text-decoration: underline #0b0ba5;
}



.post-info > div {
    display: flex;
    align-items: end;
}

.post-info .btns {
    display: flex;
}

.post-info .btns input[type="submit"] {
    color: #0b0ba5;
    margin-right: 10px;
    background-color: #fff;
    border: 0;
    cursor: pointer;

}

.post-info .btns input[type="submit"]:hover  {
    border-bottom: 1px solid #0b0ba5;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile #avatar {
    width: 60px;
    height: 60px;
}

#profile #form {
    display:  none;
}

#profile #avatar img {
    width: 100%;
    border-radius: 50%;
}

#profile form {
    display: flex;
    flex-direction: column;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    width: 450px;
}

#profile form label {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

#profile form div {
    width: max-content;
    margin: 0 auto;
    
}

#profile .btn {
    color: #fff;
    width: 90px;
    margin-top: 10px;
}


#profile #btn-cancel {
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

#profile #btn-cancel:hover {
   color: #ff0000;
   background-color: #fff;
}

#profile input[type="submit"] {
    background-color: #008000;
    border: 1px solid #008000;
}

#profile input[type="submit"]:hover {
    color: #008000;
    background-color: #fff;
}

