@font-face {
    font-family: mbold;
    src: url(mbold.ttf);
}

@font-face {
    font-family: mlight;
    src: url(mlight.ttf);
}

@font-face {
    font-family: mreg;
    src: url(mreg.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: mreg;
}

.error {
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
}

.access-point {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.access-point form {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #808080;
}

.access-point h2 {
    text-align: center;
    color:#0b0ba5
}

.access-point input {
    margin-bottom: 7px;
    padding: 4px;
}

.access-point input[type="submit"] {
    background-color: #0b0ba5;
    border: 1px solid #0b0ba5;
    color: #ffffff;
    letter-spacing: 2px;
}

.access-point a {
    text-decoration: none;
    color: #0b0ba5;
    font-weight: bold;

}

.access-point a:hover {
    text-decoration: underline;
}
.not-logged-in {
    background-image: url(../images/backgroundImage.jpg);
    /* background-position: center; */
    height: 100vh;
    color: #ffffff;

}

.not-logged-in h2{
    text-align: center;
    margin-top: 150px;
    font-size: 67px;
}

.container {
    padding: 0 150px;
}

header {
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

header h1 a {
    text-decoration: none;
    color: #0b0ba5;
}

nav li {
    display: inline;
    margin-left: 10px;
}

nav li:hover {
    border-bottom: 2px solid #0b0ba5;
}

nav a {
    text-decoration: none;
    color: #0b0ba5;
    font-size: 18px;
}

#create-post {
    display: flex;
    flex-direction: column;
}

#create-post input[type="submit"] {
    background-color: #0b0ba5;
    border: 1px solid #0b0ba5;
    border-radius: 5px;
    color: #ffffff;
    padding: 4px 8px;
    width: max-content;
    margin-top: 5px;
}